.cards_price {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 20px 10px;
  }

.cards_price h2{
  font-size: 100px;
  font-family: Helvetica Neue;
  font-weight: lighter;
  letter-spacing: 4px;
}

.cards_price h3{
  font-size: 30px;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: 2px;
}
